html {
  position: relative;
}

body {
  margin-bottom: 80px;
}

.jumbotron {
  height: 550px;
  background-image: url(../img/bg2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: -25px -80px;
  text-decoration: none;
  color: inherit;
}
.jumbotron a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
.jumbotron img {
  width: 200px;
  border-radius: 50%;
  border: 5px solid #C0C0C0;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.jumbotron h1, .jumbotron p{
  text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

hr {
  width: 250px;
  border-top: 3px solid #999;
}

section {
  min-height: 500px;
}

.images {
  background-color: #eee;
}

.contact {
  min-height: 700px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 65px;
  background-color: #333;
  padding-top: 20px;
}
